@tailwind base;
@tailwind components;
@tailwind utilities;
/* creates a custom container rather the one provided by tailwind */
body {
  font-family: "Montserrat";
  overflow-x: hidden;
  position: relative;
}
/* main container for all content */
.container-main {
  max-width: 1720px;
}

/* ######  HOMEPAGE ###### */
.main-heading {
  font-family: "Krona One";
  font-size: 96px;
  line-height: 120px;
  margin-bottom: 30px;
}
.sub-heading {
  font-family: "Jura";
  font-size: 96px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.465em;
  line-height: 114px;
  margin-bottom: 125px;
  margin-left: 25px;
}

.secondary-btn {
  border-radius: 4px;
  border: 1px solid #46dfe5;
}
.btn-border {
  border-radius: 4px;
  font-size: 24px;
}
.welcome-screen {
  transform: scale(1);
  transition: transform 1.4s ease-in-out, opacity 1.4s ease-in-out;
  opacity: 1;
  width: 100%;
}
.fade {
  opacity: 0;
  transform: scale(1.4);
}
.hide {
  display: none;
}
.begin,
.new-user-btn,
.secondary-btn {
  width: 100%;
  max-width: 100%;
}

.new-user-btn {
  display: none;
}
.new-user-btn.show {
  display: block;
}
@media screen and (max-width: 1014px) {
  .main-heading {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 5px;
  }
  .sub-heading {
    font-size: 56px;
    line-height: 100px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 600px) {
  .main-heading {
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  .sub-heading {
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 330px) {
  .begin,
  .new-user-btn,
  .secondary-btn {
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
  }
}
/* ######  QUESTIONS PAGE ###### */

.time-remaining {
  width: 40px;
  height: 40px;
  background: conic-gradient(#46dfe5 0deg, #46dfe5 0deg);
  border-radius: 50%;
  transition: background 2s;
  color: #d5d8f0;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-remaining--text {
  z-index: 3;
  font-size: 16px;
  line-height: 19.5px;
  letter-spacing: 0.13rem;
}
.time-remaining::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: #323763;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
}
.questions-left-container {
  font-size: 12px;
  color: #757aa4;
  font-weight: 600;
}
.questions-left {
  margin-right: 0.2rem;
}
.question-container {
  height: max-content;
  max-height: max-content;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
  margin-bottom: 4rem;
}
.question-container-heading {
  border-bottom: 1px solid #757aa4;
  color: #323763;
  display: flex;
  flex-direction: row;
}

.question {
  padding-bottom: 1rem;
}
.question-text {
  font-size: 16px;
}

.currentTester {
  font-size: 12px;
  color: #d5d8f0;
}
.progressBar {
  position: relative;
  width: 200px;
}
.progressBar::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  background-color: #46dfe5;
}
.progressBarFillUp {
  width: 0%;
  height: 100%;
}

.question-choice {
  border: 1px solid #757aa4;
  cursor: pointer;
}
.question-choice:hover {
  border: 1px solid #9b9fc2;
  background-color: #9b9fc265;
  cursor: pointer;
}
.question-choice code,
.submit-answer {
  font-size: 12px;
}
code {
  pointer-events: none;
}
.choice {
  display: none;
}
.choice-label {
  display: block;
  min-width: 16px;
  min-height: 16px;
  border: 1px solid #757aa4;
  border-radius: 50%;
  cursor: pointer;
}
.question-choice:has(.choice:checked) {
  border: 1px solid #9b9fc2;
  background-color: #9b9fc265;
}
.choice:checked + .choice-label {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  background-color: #46dfe5;
  border-radius: 50%;
}
.modal-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.555);
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 1000;
}
.modal-overlay.open {
  display: block;
}
.modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.356);
}
.modal-header {
  background-color: #282c48;
  color: #d5d8f0af;
  padding: 1rem;
}
.modal-header h3 {
  font-size: 1.4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: -0.05rem;
  font-weight: 500;
}
.modal-body {
  width: 500px;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.modal-body-form {
  display: flex;
  flex-direction: column;
}
#username {
  border-bottom: 0.5px solid #66666686;
  padding-bottom: 0.4rem;
  margin-bottom: 2rem;
  outline: none;
}
#username:-webkit-autofill,
#username:-webkit-autofill:hover,
#username:-webkit-autofill:focus,
#username:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.begin-btn {
  width: 30%;
  background-color: #7c64e7;
  color: #d5d8f0;
  padding: 0.8rem 0;
  border-radius: 0.3rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.begin-btn + a {
  color: #7c64e7;
  border-bottom: 1px solid #7c64e7;
  text-align: center;
  width: 30%;
  width: max-content;
  margin: 0 auto;
}
@media screen and (max-width: 762px) {
  .question-container {
    height: max-content;
  }
  .question-container-heading {
    flex-direction: column;
  }
  .currentTester,
  .progression {
    width: 200px;
    max-width: 100%;
    /* margin: 0 auto; */
  }
  .currentTester {
    margin-bottom: 1.4rem;
  }
  .progressBar {
    position: relative;
    max-width: 100%;
  }
}
@media screen and (max-width: 530px) {
  .modal-body {
    width: 300px;
  }
  .begin-btn {
    width: 60%;
    border-radius: 0.3rem;
  }
  .modal-header h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 360px) {
  .test-data {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 1rem;
  }
  .modal-body {
    width: 250px;
  }
  .begin-btn {
    width: 80%;
    border-radius: 0.3rem;
  }
  .currentTester,
  .progression {
    margin: 0 auto;
  }
  .currentTester {
    margin-bottom: 1.4rem;
  }
}
/* ######  OVERVIEW PAGE ###### */
.current-tester-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  color: #d5d8f0;
  font-size: 0.8rem;
  border-bottom: 1px solid #757aa4;
}

.current-tester-name {
  display: flex;
  font-weight: 600;
  font-size: 1.2rem;
}
.current-test-percent--container span {
  display: flex;
  font-weight: 600;
  font-size: 1.2rem;
}

.score {
  display: flex;
  font-weight: 600;
  font-size: 1.2rem;
}
.resultContainer {
  padding: 2rem 0;
}
.correct-answers-list {
  margin-bottom: 3rem;
  margin-bottom: 1.4rem;
}
.section-heading {
  color: #d5d8f0;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.correct-answers-amount {
  border: 1px solid #46dfe5;
  font-size: 0.6rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  margin: 1rem;
}
.correct-answers-list--item {
  border: 1px solid #46dfe5;
  color: #d5d8f0;
  border-radius: 0.2rem;
  padding: 1rem;
}
.correct-answers-question,
.wrong-answers-question {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.wrong-answers-amount {
  border: 1px solid #f05771;
  font-size: 0.6rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
  margin: 1rem;
}
.wrong-answers-list--item {
  border: 1px solid #f05771;
  color: #d5d8f0;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 1.4rem;
}
.answers {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.wrong-answers-answer-answer,
.wrong-answers-answer-givin {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}
.wrong-answers-answer-givin {
  color: #d5d8f098;
}
.wrong-answers-answer-givin span {
  font-weight: 600;
  color: #f05771;
}
.wrong-answers-answer-answer span {
  font-weight: 600;
  color: #46dfe5;
}

.overview-btns {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}
.overview-btns a:first-child,
.overview-btns a:last-child {
  margin: 0 auto;
  width: 200px;
  padding: 0.8rem 1.8rem;
  border-radius: 0.2rem;
  font-size: 1.4rem;
  font-weight: 500;
}
.overview-btns a:first-child {
  background-color: #46dfe5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
}
.overview-btns a:last-child {
  font-size: 0.8rem;
  color: #46dfe5;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .current-tester-info {
    flex-direction: row;
    padding: 1rem 2rem;
    font-size: 0.6rem;
    row-gap: 0.4rem;
  }
  .current-tester-name,
  .current-test-percent--container span,
  .score {
    font-size: 0.8rem;
  }
  .correct-answers-answer {
    font-size: 0.8rem;
  }

  .correct-answers-question,
  .wrong-answers-question {
    font-size: 1rem;
    margin-bottom: 1.4rem;
  }
  .wrong-answers-answer-answer,
  .wrong-answers-answer-givin {
    display: flex;
    flex-direction: column;
    row-gap: 0.4rem;
  }
  .wrong-answers-answer-givin,
  .wrong-answers-answer-givin span,
  .wrong-answers-answer-answer span,
  .wrong-answers-answer-answer code {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .current-tester-info {
    flex-direction: column;
  }
  .correct-answers-question,
  .wrong-answers-question {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
}
/* ######  HIGHSCORES PAGE ###### */
.highscores {
  padding: 0 2rem;
}
.highscores-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #d5d8f0;
  margin-bottom: 4rem;
}

.highscores-users--header {
  display: flex;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.highscores-users--header span {
  width: 100%;
  display: block;
  color: #d5d8f0;
  font-size: 1.2rem;
  font-weight: 600;
}
.highscore-user {
  background-color: #43486d;
  margin: 0 auto;
  width: 700px;
  max-width: 100%;
  border-radius: 0.4rem;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  color: #d5d8f0;
}
.highscore-user:not(:last-child) {
  margin-bottom: 1rem;
}
.highscore-user div {
  width: 100%;
}
